<p id="notice"><%= notice %></p>

<p>
  <strong>Val1:</strong>
  <%= @player.val1 %>
</p>

<p>
  <strong>Val2:</strong>
  <%= @player.val2 %>
</p>

<p>
  <strong>Val3:</strong>
  <%= @player.val3 %>
</p>

<p>
  <strong>Val4:</strong>
  <%= @player.val4 %>
</p>

<p>
  <strong>Val5:</strong>
  <%= @player.val5 %>
</p>

<p>
  <strong>Val6:</strong>
  <%= @player.val6 %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
